
h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 70px;
  color: white;
}

h2 {
  font-family: 'Press Start 2P', cursive;
}

h5 {
  font-family: 'Press Start 2P', cursive;
}

.lore-btn-txt {
  font-family: 'Lekton', sans-serif;
}

p {
  font-family: 'Lekton', sans-serif;
}

nav li {
  font-family: 'Lekton', sans-serif;
}

.gradient {
  height: 100%;
  background-color: Aquamarine;
  background-image:
    linear-gradient(
      to right,
      Aquamarine,
      Lavender 70%
    );
}

.gradient-2 {
  height: 100%;
  background-color: Lavender;
  background-image:
    linear-gradient(
      to right,
      Lavender,
      Aquamarine 70%
    );
}

.lore-btn-bg {
  background-color: #e6f046;
  padding: 1em;
  text-align: center;
  color: white;
  width: 100%;
}

.lore-header {
  text-align: center;
}

.lore-card-content {
  padding: 1em;
}

.sign-up-btn {
  font-size: 32px;
  padding: 5%;
  background-color: #7f2eed;
}

.lore-btn-secondary {
  margin-right: 11em;
  padding-left: 3em;
  padding-right: 3em;
  font-family: 'Lekton', sans-serif;
}

.lore-dropdown-text {
  padding: 5%;
}

.lore-dropdown-window {
  margin-top: 2em;
}

.lore-dropdown-btn {
  margin-left: 4.5em;
}

.lore-buffer {
  height: 100px;
}

.lore-buffer-profile {
  height: 3em;
}

.lore-footer {
  text-align: center;
}

.lore-modal {
  font-size: 23px;
  font-weight: bolder;
  padding-left: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.lore-modal p {
  padding-left: 6em;
}

.modal-login-btn-div {
  padding-top: 1em;
}

.modal-forgot {
  font-family: 'Lekton', sans-serif;
}

/*====================================*/
/********** MEDIA QUERIES *************/
/*====================================*/
@media only screen and (min-width : 992px) and (max-width : 1196px) {

  .lore-card-width {
    /* width: 14rem !important; */
    width: 18rem !important;
  }

}

@media only screen and (min-width : 768px) and (max-width : 991px) {

  .lore-card-margin {
    margin-left: 0em;
    margin-bottom: 2em;
  }

  .lore-card-width {
    width: 13rem !important;
  }

  .lore-dropdown-btn {
    margin-left: 0;
}

}

@media only screen and (min-width : 530px) and (max-width : 767px) {

  .lore-card-margin {
      margin-left: 6em;
      margin-bottom: 2em;
  }

  .lore-card-width {
    width: 20rem !important;
  }

}

@media only screen and (min-width : 465px) and (max-width : 529px) {

  .lore-card-margin {
    margin-left: 3em;
    margin-bottom: 2em;
  }

}

@media only screen and (max-width : 464px) {

  .lore-card-width {
    width: 100% !important;
  }

  .lore-card-margin {
    margin-bottom: 2em;
  }
}
