
<div class="row">
  <div class="col-md-4 lore-card-margin">
    <div class="card lore-card-width" style="width: 22rem;">
      <img class="card-img-top lore-card-content" src="http://via.placeholder.com/250x250" alt="Card image cap">
      <div class="card-body lore-card-content">
        <h5 class="card-title lore-btn-bg trigger" href="https://github.com/dolce/iziModal">Titan</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle lore-dropdown-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="lore-btn-txt">Dropdown button</span>
          </button>
          <div class="dropdown-menu lore-dropdown-window" aria-labelledby="dropdownMenuButton">
            <p class="lore-dropdown-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="col-md-4 lore-card-margin">
    <div class="card lore-card-width" style="width: 22rem;">
      <img class="card-img-top lore-card-content" src="http://via.placeholder.com/250x250" alt="Card image cap">
      <div class="card-body lore-card-content">
        <h5 class="card-title lore-btn-bg trigger" href="https://github.com/dolce/iziModal">Hunter</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle lore-dropdown-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="lore-btn-txt">Dropdown button</span>
          </button>
          <div class="dropdown-menu lore-dropdown-window" aria-labelledby="dropdownMenuButton">
            <p class="lore-dropdown-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="col-md-4 lore-card-margin">
    <div class="card lore-card-width" style="width: 22rem;">
      <img class="card-img-top lore-card-content" src="http://via.placeholder.com/250x250" alt="Card image cap">
      <div class="card-body lore-card-content">
        <h5 class="card-title lore-btn-bg trigger" href="https://github.com/dolce/iziModal">Assassin</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle lore-dropdown-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="lore-btn-txt">Dropdown button</span>
          </button>
          <div class="dropdown-menu lore-dropdown-window" aria-labelledby="dropdownMenuButton">
            <p class="lore-dropdown-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="row lore-buffer">
  <div class="col-md-12">
  </div>
</div>
