

<div class="row">
  <div class="col-md-4">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fCsSLb11RUQ?rel=0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card w-150">
      <div class="card-body lore-card-content">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-secondary">Level Completed</button>
  </div>
</div>


<div class="row lore-buffer-profile">
  <div class="col-md-12">
  </div>
</div>



<div class="row">
  <div class="col-md-4">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Zk9J5xnTVMA?rel=0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card w-150">
      <div class="card-body lore-card-content">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-secondary">Level Completed</button>
  </div>
</div>

<div class="row lore-buffer-profile">
  <div class="col-md-12">
  </div>
</div>



<div class="row">
  <div class="col-md-4">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SEi_ssVfmYIrel=0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card w-150">
      <div class="card-body lore-card-content">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-secondary">Level Completed</button>
  </div>
</div>

<div class="row lore-buffer-profile">
  <div class="col-md-12">
  </div>
</div>
